.ApplyCoupon{
    width: 100%;
    padding: 20px;
    font-size: 16px;
    box-sizing: border-box;
   
    margin: 0px 20px;
}
.ApplyCoupon>div{
    display: flex;
    margin-bottom: 10px;
}
.ApplyCoupon img{
    height: 32px;
    width: 32px;
}
.ApplyCoupon>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ApplyCoupon>div:nth-child(1)>span:nth-child(1){
    font-size: 1.1rem;
    font-weight: bold;
}
.ApplyCoupon>div:nth-child(1)>span:nth-child(2){
    font-size: 0.8rem;
    color: red;
}
.ApplyCoupon>div:nth-child(2)>div:nth-child(1){
    width: 100%;
    color: gray;
    justify-content: space-between;
    display: flex;
}
.ApplyCoupon input{
    width: 70%;
    outline: none;
    border: 0px ;
    font-size: 1rem;
   
}
.ApplyCoupon hr{
    width: 100%;
    color-scheme: gray;
}


#coupon{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
